In [2]:
import branch_and_bound as bnb
import twice_around_the_tree as tat
import christofides as cr
import instance_generator as ig
import utils
import time
import numpy as np
import networkx as nx
import pandas as pd

In [6]:
df = pd.read_csv("data/twice_around_the_tree.csv")
euc = df[df["dist"] == "euclidean"]
euc

,size,dist,time,path,cost
0,4,euclidean,0.0021,"[0, 15, 8, 10, 2, 14, 7, 9, 4, 6, 12, 5, 3, 11...",19913.4558
2,4,euclidean,0.0010,"[0, 8, 10, 2, 1, 15, 14, 11, 13, 3, 7, 9, 4, 6...",17221.8074
4,4,euclidean,0.0009,"[0, 13, 1, 14, 3, 15, 10, 12, 2, 11, 6, 4, 7, ...",15601.6344
6,4,euclidean,0.0010,"[0, 5, 12, 11, 9, 2, 6, 1, 14, 13, 10, 8, 15, ...",20148.0367
8,4,euclidean,0.0010,"[0, 8, 1, 15, 2, 11, 13, 5, 14, 3, 7, 4, 6, 12...",18332.8163
...,...,...,...,...,...
130,10,euclidean,6.2731,"[0, 19, 336, 765, 123, 658, 566, 956, 908, 584...",161979.2233
132,10,euclidean,7.1795,"[0, 299, 514, 399, 184, 661, 86, 780, 699, 793...",155762.9939
134,10,euclidean,6.4584,"[0, 357, 147, 615, 1012, 406, 23, 93, 402, 877...",160546.4374
136,10,euclidean,6.8190,"[0, 1004, 731, 56, 185, 947, 857, 768, 11, 350...",163410.5984
138,10,euclidean,7.2450,"[0, 21, 732, 465, 3, 255, 435, 401, 677, 97, 9...",165149.0393