In [33]:
import branch_and_bound as bnb
import twice_around_the_tree as tat
import christofides as cr
import instance_generator as ig
import utils
import time
import numpy as np
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
dftat = pd.read_csv("data/twice_around_the_tree.csv")
dfcr = pd.read_csv("data/christofides.csv")
dfcr = dfcr[dfcr["dist"] == "euclidean"]
dfcr

,size,dist,time,path,cost
0,4,euclidean,0.0024,"[0, 6, 14, 9, 7, 5, 4, 12, 3, 10, 11, 15, 1, 1...",16418.9836
2,4,euclidean,0.0029,"[0, 2, 14, 12, 7, 10, 13, 15, 8, 3, 9, 5, 1, 1...",18871.2324
4,4,euclidean,0.0015,"[0, 9, 7, 10, 6, 12, 11, 15, 2, 1, 3, 5, 4, 13...",20372.9505
6,4,euclidean,0.0018,"[0, 7, 10, 1, 11, 6, 13, 14, 4, 8, 9, 5, 2, 3,...",19089.2586
8,4,euclidean,0.0017,"[0, 13, 12, 15, 10, 5, 11, 6, 14, 4, 7, 2, 1, ...",17292.2191
...,...,...,...,...,...
690,10,euclidean,41.6000,"[0, 870, 583, 578, 786, 30, 121, 484, 768, 889...",129606.7297
692,10,euclidean,47.1050,"[0, 188, 590, 116, 588, 1017, 818, 330, 268, 2...",133463.2569
694,10,euclidean,61.7974,"[0, 263, 478, 86, 136, 97, 740, 922, 861, 499,...",132018.4097
696,10,euclidean,59.3975,"[0, 493, 670, 627, 839, 49, 513, 465, 626, 902...",135166.6376
698,10,euclidean,51.8383,"[0, 632, 843, 168, 624, 660, 977, 369, 823, 52...",133522.5498